<h2>Login Here</h2>
<form id="login-form" action="/login" method="post">
  <input type="text" name="name" placeholder="Enter user name" required>
  <input type="email" name="email" placeholder="Enter your email" required>
  <input type="password" name="password" placeholder="Enter password" required>
  <button type="submit">Login</button>
</form>
<a href="/registor">Registor</a>